<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Permanent+Marker&family=Roboto:ital,wght@0,700;1,400&display=swap"
    rel="stylesheet">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../../assets/logo_ba7eedb67a.svg" alt="logo" style="width:130px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link"  routerLink="/Laser" href="#treatments">laser hair reduction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#dermafacial">dermafacial</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="#skintreatments">skin treatments</a>
          </li>
          <form class="form-inline my-2 my-lg-0" style="margin-left: 537px;">
            <button type="button" class="btn btn-outline-danger">Login</button>
          </form>
        </ul>

      </div>
    </div>
  </nav>
  <div class="main">
    <div class="container">
      <div class="row h-100 align-items-center">
        <div class="col-md-4">
          <h1>let us introduce you to a new you!</h1>
          <p>More good skin. More radiance. More smoothness. More youthfulness. With skinnsi’s dermatologists,
            technology and at-home service, see the version of you, you were waiting for..</p>
            <button type="button" class="btn btn-outline-danger">Tell me more</button>
        </div>
        <div class="col-md-8">
<div class="image mx-5 my-5">
          <img src="https://assets.toothsi.in/home_banner_669fe2eaac.webp?q=75&w=750" alt="">
        </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <section class="services " id="services">
      <div class="message my-5 " >
        <h2>laser hair reduction packages</h2>
      </div>
      <div class="container">
        <div class="row ">
          <div class="col-md-4 ">
            <div class="card shadow">
              <img class="card-img" src="https://assets.toothsi.in/LHR_treatment_1_15f012bf68.png?q=75&w=384" alt="succulent">
              <div class="card-img-overlay text-blue ">
                <h5 class="card-title">laser hair reduction</h5>
                <p class="card-text ">
                  Get freedom for unwanted <br> 
                  body hair the painless way
                </p>
                <button type="button" class="btn btn-danger btn-sm">Know more</button>
              </div>
             </div>
          </div>
          <div class="col-md-4 ">
            <div class="card shadow">
              <img class="card-img" src="https://assets.toothsi.in/derma_treatment_3eb74af834.png?q=75&w=384" alt="succulent">
              <div class="card-img-overlay text-blue ">
                <h5 class="card-title">dermafacial</h5>
                <p class="card-text ">
                  Elevate your skincare game with a <br> facial that’s designed by dermatologists.
                 </p>
                 <button type="button" class="btn btn-danger btn-sm">Know more</button>
              </div>
             </div>
          </div>
          <div class="col-md-4 ">
            <div class="card shadow">
              <img class="card-img" src="https://assets.toothsi.in/hydraglowtreatment_servicecard_366_550_32dbbbff87.webp?q=75&w=384" alt="succulent">
              <div class="card-img-overlay text-blue ">
                <h5 class="card-title">hydraglow <br> treatment</h5>
                <p class="card-text ">
                  A personalised facial performed under expert dermat <br> 
                  brsupervision to give you best skin of your life.</p>
                  <button type="button" class="btn btn-danger btn-sm">Know more</button>
              </div>
             </div>
          </div>
        </div>
      </div>
      </section>
      </div>
  <div class="message my-5">
    <h2>Why skinnsi is different?</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card_icon" style="width: 18rem;">
          <img src="../../assets/Frame_48097282_2_0a69918038.svg" class="card-img-top" alt="..." style="height:152px">

          <h5 class="card-title">at home services</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>


        </div>
      </div>

      <div class="col-md-4">
        <div class="card_icon" style="width: 18rem;">
          <img src="../../assets/Container_1_a9d3241c3c.svg" class="card-img-top"style="height:152px">

          <h5 class="card-title">backed by experts</h5>
          <p class="card-text">Our products and services are disigned and approved by dermats</p>


        </div>
      </div>
      <div class="col-md-4">
        <div class="card_icon" style="width: 18rem;">
          <img src="../../assets/Container_1_1_84dcc3d11b.svg" class="card-img-top"style="height:152px">

          <h5 class="card-title">latest technology</h5>
          <p class="card-text">The most advance in india</p>

        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card_icon" style="width: 18rem;">
          <img src="https://assets.toothsi.in/Container_2_1_b3151e00ac.svg" class="card-img-top"style="height:152px">

          <h5 class="card-title">Personalized skin</h5>
          <p class="card-text">Designed for you and your skin</p>

        </div>
      </div>
      <div class="col-md-4">
        <div class="card_icon" style="width: 18rem;">
          <img src="https://assets.toothsi.in/Container_3_1_b9e9966c0a.svg" class="card-img-top"style="height:152px">

          <h5 class="card-title">easy on the pocket</h5>
          <p class="card-text">Enjoy affordable packages and EMI options</p>

        </div>
      </div>
      <div class="col-md-4">
        <div class="card_icon" style="width: 18rem;">
          <img src="https://assets.toothsi.in/Container_2_1_b3151e00ac.svg" class="card-img-top"style="height:152px">

          <h5 class="card-title">always available</h5>
          <p class="card-text">our team is one call away</p>

        </div>
      </div>
    </div>
  </div>
  <section class="superstars">
    <div class="message my-5">
      <h1>Our superstars</h1>
      <b>A quick intro of our experts</b>
    </div>
    <div class="container">
 <div class="row mt-5 flex-row flex-nowrap">
        <div class="col-md-4">

          <div class="card_icon" style="width: 20rem;">
            <div class="card-img-caption">

              <img class="card-img-top" src="https://assets.toothsi.in/Dr_Hafsa_949fa56357.webp" alt="Card image cap">
            </div>
            <div class="card_info mt-4">
              <h5>Dr. Hafsa Fatima</h5>
              <p>Sr. Dermatologist</p>
              <p>9 yrs exprience</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card_icon" style="width: 20rem;">
            <div class="card-img-caption">

              <img class="card-img-top" src="https://assets.toothsi.in/12_8a092d2ea5.webp" alt="Card image cap">
            </div>
            <div class="card_info mt-4">
              <h5>Dr. Hafsa Fatima</h5>
              <p>Sr. Dermatologist</p>
              <p>8 yrs exprience</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <!-- second-col -->
          <div class="card_icon" style="width: 20rem;">
            <div class="card-img-caption">

              <img class="card-img-top" src="https://assets.toothsi.in/Vrushali_2f66b0458c.webp" alt="Card image cap">
              <div class="card_info mt-4">
                <h5>Dr. Shrenic Balegar</h5>
                <p>Sr. Dermatologist</p>
                <p>6 yrs exprience</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


  </section>

  <section class="skinnsi_works my-5">
    <div class="message">
      <h1>how skinnsi works</h1>
    </div>
    <div class="container">
      <div class="row mt-5 flex-row flex-nowrap">
        <div class="col-md-3">
          <div class="card_icon" style="width: 10rem;">
            <div class="card-img-caption">
              <img class="card-img-top" src="https://assets.toothsi.in/Frame_48097151_5_201b9de6b8.svg"
                alt="Card image cap">
            </div>
            <div class="card_info mt-4">
              <h5>self-assessment</h5>
              <p>Answer our medical survey for our experts</p>

            </div>
          </div>
        </div>
        <div class="col-md-3">

          <div class="card_icon" style="width: 10rem ;">
            <div class="card-img-caption">

              <img class="card-img-top" src="https://assets.toothsi.in/Frame_48097151_1_3_1407756d01.svg"
                alt="Card image cap">
            </div>
            <div class="card_info mt-4">
              <h5>appointment</h5>
              <p>Book your appointment</p>

            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card_icon" style="width: 10rem;">
            <div class="card-img-caption">
              <img class="card-img-top" src="https://assets.toothsi.in/Frame_48097151_2_5_05910d5502.svg"
                alt="Card image cap">
              <div class="card_info mt-4">
                <h5>sessions start</h5>
                <p>Our skinnsi-pro comes to your home</p>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-3">
          <div class="card_icon" style="width: 10rem;">
            <div class="card-img-caption">
              <img class="card-img-top" src="https://assets.toothsi.in/Frame_48097151_3_3_984e9ef8ec.svg"
                alt="Card image cap">
              <div class="card_info mt-1">
                <h5>post-treatments care</h5>
                <p>We guide and follow up till you recover completely</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!-- <div class="container">
    <div class="card_icon ml-5" style="width:50rem;">
      <div class="card-body">
        <div class="row"></div>
        <div class="row">
          <h3>
            <p> skin care is selfcare.
              so we made it affordable.</p>
          </h3>
          <p>EMI always helps.</p>
        </div>
        <div class="row"></div>
      </div>
    </div>
  </div> -->
  
  <div class="loveletters my-5">
    <div class="container">
          <div class="message my-5">
            <h1>love letters</h1>
            <p> <b> Sweet client.Sweet testimonials </b>.</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4" style="width: 18rem;height: 22rem;">
            <div class="card-body">
              <div class="card_info">
                <h5>Aparajita singh</h5>
                <p>mumbai</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.My therapist Jyoti Vishwakarma, was very helpful and informative during the whole session,
                  before coming in my house she always wears a pp kit, and makes sure to clean and sanitise the machine
                  and tools before and after the session.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;height: 22rem;">
            <div class="card-body">
              <div class="card_info">
                <h5>Nehaeats</h5>
                <p>mumbai</p>
                <p class="card-text">I totally loved the service. It was my first session with Skinnsi and I loved how
                  professional they are. Leela, made sure I was comfortable at all times and answered all my questions
                  so well.</p>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;height: 22rem;">
            <div class="card-body">
              <div class="card_info">
                <h5>Khushi Rawal</h5>
                <p>new Delhi</p>
                <p class="card-text">Absolutely love the treatment! amazing results, super hygienic and very kind
                  counselors and therapists! My therapist Bhavna Tyagi was very professional and explained the whole
                  process and made me feel very comfortable.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="moreOfYou">
    <div class="container">
      <div class="message my-5">
        <h1>more of you</h1>
        <p>Stories about skin, skincare and you. Enjoy the show!</p>
      </div>
      <div class="row" style="align-items: stretch;">
        <div class="col-md-5">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="https://assets.toothsi.in/blog_2_2752a164f1.webp" class="card-img" alt="..." style="width: 12rem;
                height:16rem;">
              </div>
              <div class="col-md-8 ">
                <div class="card-body">
                  <h5 class="card-title">Laser hair removal myths, BUSTED!</h5>
                  <p class="card-text">TLaser hair removal is grabbing the eyeballs gradually, now becoming a popular
                    method of hair removal. As with any new technology.</p>
                  <p class="card-text"><small class="text-muted">Read more-></small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card mb-5" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="https://assets.toothsi.in/blog_7497d02e7f.webp" class="card-img" alt="..." style="width: 12rem;
                height: 16rem;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Tired of Acne Popping Up on Your Face? Read About These Types of Acne</h5>
                  <p class="card-text">Are you tired of acne popping up on your face right before a party? Do you also
                    look for different hacks on the internet to hide them?</p>
                  <p class="card-text"><small class="text-muted">Read more-></small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- footer started -->
  <footer class="skinnsi_footer">
    <div class="container">
      <div class="row"></div>
      <div class="row mt-5  ">
        <div class="col-md-3">
          <a class="navbar-brand" href="#"><img src="../../assets/logo_ba7eedb67a.svg" alt="logo"
              style="width:130px;"></a>
        </div>
        <div class="col-md-3">
          <h5>everything skinnsi</h5>
          <ul>laser hair removal</ul>
          <ul>dermafacial</ul>
          <ul>hydraglow treatments</ul>
        </div>
        <div class="col-md-3">
          <h5>about the brand</h5>
          <ul>about us</ul>
          <ul>blog</ul>
          <ul>reviews</ul>
        </div>
        <div class="col-md-3">
          <h5>chat with us</h5>
          <ul><i class="fa fa-whatsapp" aria-hidden="true"></i> +91 8294562315</ul>
          <ul><i class="fa fa-phone" aria-hidden="true"></i> +91 4798524545</ul>
          <ul><i class="fa fa-envelope-o" aria-hidden="true"></i> info@skinnsi.in</ul>
        </div>
      </div>

      <hr>
      <div class="row mt-3 mb-2">
        <div class="col-md-1">
          <img
            src="https://skinnsi.in/_next/static/image/assets/images/CE.161b4c398a389b882392cfc60e7b366e.png?q=75&w=64"
            width="30px"> &nbsp;
        </div>
        <div class="col-md-4">
          <span>
            terms of use | privacy policy | refund policy
          </span><br>
          <i class="fa fa-copyright" aria-hidden="true">2022 skinnsi. All Rights Reserved.</i>
        </div>


        <div class="col-md-4"><span><i class="fa fa-facebook-square" aria-hidden="true"> </i> </span>&nbsp;&nbsp;
          <span><i class="fa fa-instagram" aria-hidden="true"></i></span>&nbsp;&nbsp;
          <span><i class="fa fa-youtube-play" aria-hidden="true"></i></span>&nbsp;&nbsp;
          <span><i class="fa fa-linkedin-square" aria-hidden="true"></i></span></div>
        <div class="col-md-3">
          <h6>looking for great smile <span></span></h6>
        </div>
      </div>
    </div>
  </footer>
  <!-- end of the footer -->

</body>
