<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Permanent+Marker&family=Roboto:ital,wght@0,700;1,400&display=swap"
    rel="stylesheet">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../../assets/logo_ba7eedb67a.svg" alt="logo" style="width:130px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="#treatments">laser hair reduction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#dermafacial">dermafacial</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="#skintreatments">skin treatments</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <div class="main">
    <div class="container">
      <div class="row h-100 align-items-center">
        <div class="col-md-4">
          <h1>let us introduce you to a new you!</h1>
          <p>More good skin. More radiance. More smoothness. More youthfulness. With skinnsi’s dermatologists,
            technology and at-home service, see the version of you, you were waiting for..</p>
          <!-- <button class="btn btn-primary" (click)="goToPage('/Visit')">Visit Us</button> -->

        </div>
        <div class="col-md-8">
         
          <img src="../../assets/home_banner_669fe2eaac.webp" alt="">
          <!-- <button class="btn btn-primary" (click)="goToPage('/Visit')">Visit Us</button> -->

        </div>
      </div>
    </div>
  </div>
  <section class="services" id="services">
    <div class="container text-center py-5 ">
     
      <div class="row">
        <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <div class="card-img-caption">
            <div class="card-text">
            <div class="row_title mt-0">
            <h1>laser hair reduction</h1>
          </div>
          <div class="row mt-0">
            <p>Get freedom from unwanted body hair and painless way</p>
          </div>
          </div>
            <img class="card-img-top" src="../../assets/LHR_treatment_1_15f012bf68.webp" alt="Card image cap">
          </div>
        </div>
            </div>
        <div class="col-md-4">
          <!-- second-col -->
          <div class="card" style="width: 20rem;">
            <div class="card-img-caption">
              <h1 class="card-text">Dermafacial</h1>
              <img class="card-img-top" src="../../assets/derma_treatment_3eb74af834.webp" alt="Card image cap">
            </div>
              </div>
        </div>
        <div class="col-md-4">
          <!-- third-col -->
          <div class="card" style="width:20rem;">
            <div class="card-img-caption">
              <h1 class="card-text">Hydraglow treatement</h1>
              <img class="card-img-top" src="../../assets/hydraglowtreatment_servicecard_366_550_32dbbbff87.webp" alt="Card image cap">
            </div>
              </div>
          </div>
        </div>
      </div>
  
  </section>
  <div class="message">
    <h2>Why skinnsi is different?</h2>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card_icon" style="width: 18rem;">
        <img src="../../assets/Frame_48097282_2_0a69918038.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">at home services</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         
        </div>
      </div>
      </div>

      <div class="col-md-4">
        <div class="card_icon" style="width: 18rem;">
          <img src="../../assets/Container_1_a9d3241c3c.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">backed by experts</h5>
            <p class="card-text">Our products and services are disigned and approved by dermats</p>
           
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card_icon" style="width: 18rem;">
          <img src="../../assets/Container_1_1_84dcc3d11b.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">latest technology</h5>
            <p class="card-text">The most advance in india</p>
            </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card_icon" style="width: 18rem;">
          <img src="https://assets.toothsi.in/Container_2_1_b3151e00ac.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Personalized skin</h5>
            <p class="card-text">Designed for you and your skin</p>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card_icon" style="width: 18rem;">
          <img src="https://assets.toothsi.in/Container_3_1_b9e9966c0a.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">easy on the pocket</h5>
            <p class="card-text">Enjoy affordable packages and EMI options</p>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card_icon" style="width: 18rem;">
          <img src="https://assets.toothsi.in/Container_2_1_b3151e00ac.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">always available</h5>
            <p class="card-text">our team is one call away</p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <section class="superstars">
    <div class="message">
    <h1>Our superstars</h1>
    <h3>A quick intro of our experts</h3>
  </div>
  <div class="container">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
    <div class="row mt-5 flex-row flex-nowrap">
          <div class="col-md-4">
      <!-- second-col -->
      <div class="card" style="width: 20rem;">
        <div class="card-img-caption">
          
          <img class="card-img-top" src="https://assets.toothsi.in/Dr_Hafsa_949fa56357.webp" alt="Card image cap">
        </div>
          </div>
    </div>
    <div class="col-md-4">
      <!-- second-col -->
      <div class="card" style="width: 20rem;">
        <div class="card-img-caption">
          
          <img class="card-img-top" src="https://assets.toothsi.in/12_8a092d2ea5.webp" alt="Card image cap">
        </div>
          </div>
    </div>
    <div class="col-md-4">
      <!-- second-col -->
      <div class="card" style="width: 20rem;">
        <div class="card-img-caption">
          
          <img class="card-img-top" src="https://assets.toothsi.in/Vrushali_2f66b0458c.webp" alt="Card image cap">
        </div>
          </div>
    </div>
    <div class="col-md-4">
      <!-- second-col -->
      <div class="card" style="width: 20rem;">
        <div class="card-img-caption">
          
          <img class="card-img-top" src="https://assets.toothsi.in/Dr_Hafsa_949fa56357.webp" alt="Card image cap">
        </div>
          </div>
    </div>
    </div>
  </div>
</div>
</div>

  </section>
  
  
</body>
