<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#"> <img src="../../assets/logo_ba7eedb67a.svg" style="width: 170px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">laser hair reduction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">dermafacial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">skin treatments </a>
          </li>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item ml-auto">
            <button type="button" class=" btn btn-light rounded-pill">explore <img
                src="../../assets/Toothsi_Logo_a27f57d5ba.webp" alt=""></button>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-headphones" aria-hidden="true"></i></a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="#">login</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="main ">
    <div class="container ">
      <div class="row">
        <div class="col-md-4 mt-5  text-center">
          <h1>let us introduce you to a new you</h1>
          <p>More good skin. More radiance. More smoothness. More youthfulness. With skinnsi’s dermatologists,
            technology and at-home service, see the version of you, you were waiting for.</p>
        </div>
        <div class="col-md-8  text-center">
          <img src="../../assets/home_banner_669fe2eaac.webp" alt="">

        </div>

      </div>
    </div>
  </div>

</body>

</html>
