*body{
  text-emphasis-color: red;
} 
.navbar-dark .navbar-nav .nav-link {
    color: rgb(241 4 50 / 93%);
    background-color: white;
}
.main{
    background-color: #ace0f0;
}
.row_title{
  padding-right: calc(var(--bs-gutter-x) * .5);
}
.message{
    padding-left: 35%;
}
.card-icon{
  border-radius: 0;
}
.superstars{
  background-color: #f5f9fa;
}
.skinnsi_footer{
  background-color: #CBECF6;
}
h1,h2{
  color: #e03c31;
  font: bold;
  
}
.card_info{
text-align: center;
}
/* .card-body{
  background-color: #eafaff;
} */
.fas{
  color: yellow;
}
.loveletters{
  background-color: #f5f9fa;
}
.card{
  box-shadow: 0 3px 10px rgb(0 0 0 / 25%);
}

