<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Permanent+Marker&family=Roboto:ital,wght@0,700;1,400&display=swap"
    rel="stylesheet">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../../assets/logo_ba7eedb67a.svg" alt="logo" style="width:130px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="#treatments">laser hair reduction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#dermafacial">dermafacial</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="#skintreatments">skin treatments</a>
          </li>
          <form class="form-inline my-2 my-lg-0" style="margin-left: 537px;">
            <button type="button" class="btn btn-outline-danger">Login</button>
          </form>
        </ul>

      </div>
    </div>
  </nav>
  <div class="main">
    <div class="container">
      <div class="row h-100 align-items-center">
        <div class="col-md-4">
          <h1>No more painful
            waxing!
            Get flawless skin with
            our laser hair reduction packages!</h1>
          <p>Enjoy a hairless beach body
            with our Laser Hair Reduction (LHR).</p>
          <button type="button" class="btn btn-outline-danger">Tell me more</button>
        </div>
        <div class="col-md-8">
          <div class="image mx-5 my-5">
            <img src="https://assets.toothsi.in/lhr_banner_c1e9b9018c.webp?q=75&w=750" alt="">
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <section class="services " id="services">
      <div class="message my-5 ">
        <h2>laser hair reduction packages</h2>
      </div>
      <div class="container">
        <div class="row ">
          <div class="col-lg-6 col-md-8">
            <div class="card shadow">
              <img class="card-img" src="https://assets.toothsi.in/fullbody_dac6d61bd0.webp?q=75&w=640" alt="succulent">
              <div class="card-img-overlay text-blue ">
                <h5 class="card-title ml-5">full body</h5>
                <p class="card-text ">
                  Loved by actors and models.<br>
                  face,underarms,arms,chest,
                  back trunk<br> and legs
                  remove hair from these areas..
                </p>
                <button type="button" class="btn btn-danger btn-sm">Know more</button>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-8">
            <div class="card shadow">
              <img class="card-img" src="https://assets.toothsi.in/specific_area_20f649867a.webp?q=75&w=640"
                alt="succulent">
              <div class="card-img-overlay text-blue ">
                <h5 class="card-title ml-5">full body</h5>
                <p class="card-text ">
                  Loved by actors and models.<br>
                  face,underarms,arms,chest,
                  back trunk<br> and legs
                  remove hair from these areas..
                </p>
                <button type="button" class="btn btn-danger btn-sm">Know more</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
  <div class="container">
    <div class="message my-5 ">
      <h2>Why should you try our laser hair reduction packages?</h2>
    </div>
    <div class="lhr">
      <div class="row">
        <div class="col-md-6">
          <img src="https://assets.toothsi.in/shutterstock_1180306960_1_a75651fc9e.png" alt="">
        </div>
        <div class="col-md-6 my-5">
          <h4>lets’s get to know more <br>
            about LHR</h4>
          <button type="button" class="btn btn-danger btn-sm">Know more</button>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-md-3">
        <div class="card-icon" style="width: 18rem;">
          <img class="card-img-top" src="https://assets.toothsi.in/Frame_48097151_4_1c2f17efb4.svg" alt="Card image cap"
            style="height:152px">
          <div class="card-body">
            <h5 class="card-title">so convenient!</h5>
            <p class="card-text">This is an at-home service. Our experts come to you. Just lie back and imagine a beach.
              We’ll do the rest.</p>

          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-icon" style="width: 18rem;">
          <img class="card-img-top" src="https://assets.toothsi.in/Frame_48097151_1_2_3733ff4bb1.svg"
            alt="Card image cap" style="height:152px">
          <div class="card-body">
            <h5 class="card-title">no pain at all</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.Our Quadruple Wavelength Laser is icy. Unlike other lasers, ours doesn’t heat up the skin. Pretty
              cool tech!</p>

          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-icon" style="width: 18rem;">
          <img class="card-img-top  mx-2 my-2" src="https://assets.toothsi.in/Group_48097121_1_09a9f8c090.svg"
            alt="Card image cap" style="height:152px">
          <div class="card-body">
            <h5 class="card-title">it’s effective</h5>
            <p class="card-text">Waxing, threading, plucking (ouch!) allow for in-growths. With LHR no hair root, so no
              body hair, #TrueThat</p>

          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-icon" style="width: 18rem;">
          <img class="card-img-top" src="https://assets.toothsi.in/Frame_48097151_2_4_001ab1794d.svg"
            alt="Card image cap" style="height:152px">
          <div class="card-body">
            <h5 class="card-title ml-5">you are in safe hands</h5>
            <p class="card-text">The laser, safe for your skin. Our experts, wear a PPE kit. Temperature checks,
              mandatory. The kit, sterilised before use.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="message">
      <h2>Why are our laser hair reduction packages better than waxing?</h2>
      <p>5 reasons why LHR is better than parlour aunty</p>
    </div>
    <div class="row my-5">
      <div class="col-md-3"></div>
      <div class="col-md-3">

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://assets.toothsi.in/skinnsi_1_2712_4_1_9a3973b06f_8a6d313550.webp"
            alt="Card image cap">
          <div class="card-1">
            <div class="card-body">
              <h5 class="card-title ml-5">laser hair reduction</h5>
              <p class="card-text"></p>
              <ul>
                <li>Pretty painless</li>
                <li>Permanent results</li>
                <li>Sessions are 4 to 12 weeks apart. Your skin is well rested.</li>
                <li>No in-growths at all</li>
                <li>Cost effective. You spend about Rs, 60,000 for a permanent solution.</li>

              </ul>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://assets.toothsi.in/unnamed_d5f26a9081.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title ml-5">age-old waxing</h5>
            <p class="card-text"></p>
            <ul>
              <li>It hurts so much!</li>
              <li>Temporary results</li>
              <li>Sessions are 3 to 4 weeks apart. Your skin gets no rest.</li>
              <li>Lots of in-growths</li>
              <li>Expensive! You spend about Rs. 3.6 lakhs in the long run.</li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <section class="skinnsi_works my-5">

    <div class="container ">
      <div class="message">
        <h1>How do our laser hair reduction packages work exactly?</h1>
      </div>
      <div class="row mt-5">
        <div class="col-md-4">
          <div class="card_icon" style="width: 10rem;">
            <div class="card-img-caption">
              <img class="card-img-top" src="https://assets.toothsi.in/Frame_48097151_3_ee8792d88f.svg"
                alt="Card image cap">
            </div>
            <div class="card_info mt-4">
              <p>the therapist comes home</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card_icon" style="width: 10rem ;">
            <div class="card-img-caption">
              <img class="card-img-top" src="https://assets.toothsi.in/Frame_48097151_1_2_9d4869cc2d.svg"
                alt="Card image cap">
            </div>
            <div class="card_info mt-4">
              <p>they shave the area to be treated</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card_icon" style="width: 10rem;">
            <div class="card-img-caption">
              <img class="card-img-top" src="https://assets.toothsi.in/Frame_48097151_2_3_4faa9e1ede.svg"
                alt="Card image cap">
              <div class="card_info mt-4">
                <p>a cooling gel is applied</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <div class="card_icon" style="width: 10rem;">
            <div class="card-img-caption">
              <img class="card-img-top" src="https://assets.toothsi.in/Frame_48097151_3_2_d621bb25d3.svg"
                alt="Card image cap">
              <div class="card_info mt-1">
                <p>the icy cool laser does its magic</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>

        <div class="col-md-2">
          <div class="card_icon" style="width: 10rem;">
            <div class="card-img-caption">
              <img class="card-img-top" src="https://assets.toothsi.in/Frame_48097151_4_1_2a95c53e49.svg"
                alt="Card image cap">
              <div class="card_info mt-1">
                <p>the dermatologist supervises digitally</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div class="loveletters my-5">
      <div class="container">
        <div class="message my-5">
          <h1> love letters</h1>
          <p> <b> Sweet client.Sweet testimonials </b>.</p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4" style="width: 18rem;height: 22rem;">
              <div class="card-body">
                <div class="card_info">
                  <h5>Aparajita singh</h5>
                  <p>mumbai</p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.My therapist Jyoti Vishwakarma, was very helpful and informative during the whole session,
                    before coming in my house she always wears a pp kit, and makes sure to clean and sanitise the
                    machine
                    and tools before and after the session.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;height: 22rem;">
              <div class="card-body">
                <div class="card_info">
                  <h5>Nehaeats</h5>
                  <p>mumbai</p>
                  <p class="card-text">I totally loved the service. It was my first session with Skinnsi and I loved how
                    professional they are. Leela, made sure I was comfortable at all times and answered all my questions
                    so well.</p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;height: 22rem;">
              <div class="card-body">
                <div class="card_info">
                  <h5>Khushi Rawal</h5>
                  <p>new Delhi</p>
                  <p class="card-text">Absolutely love the treatment! amazing results, super hygienic and very kind
                    counselors and therapists! My therapist Bhavna Tyagi was very professional and explained the whole
                    process and made me feel very comfortable.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="message my-5 mx-5">
      <h2>FAQ</h2>
    </div>
    <b> 01. Is an at-home laser hair reduction treatment safe? </b><span><i class="fa fa-angle-down"
        style="margin-left: 60%;" (click)="collapse.toggle()" [attr.aria-expanded]="!laser"
        aria-hidden="true"></i></span>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="laser">
      <br>
      <p>Yes, getting the treatment at home is as safe as the clinic. You will experience the same dermatologist
        supervision and trained therapist treatment at home.</p>
    </div>
    <hr>
    <b>02. What are the safety precautions taken by the therapist during the session?</b><span><i
        class="fa fa-angle-down" style="margin-left: 46%;" (click)="collapse.toggle()" [attr.aria-expanded]="!laser"
        aria-hidden="true"></i></span>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="laser">
      <br>
      <p>All our therapists will be wearing personal protective equipment (PPE) as per WHO guidelines. They will
        sterilise the machines and equipment before using it.</p>
    </div>
    <hr>
    <b> 03. How permanent is laser hair reduction? </b><span><i class="fa fa-angle-down" style="margin-left: 66%;"
        (click)="collapse.toggle()" [attr.aria-expanded]="!laser" aria-hidden="true"></i></span>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="laser">
      <br>
      <p>There will be up to 90% hair reduction in an average of 6 sessions.</p>
    </div>
    <hr>
    <b>04. Is it cost-effective?</b><span><i class="fa fa-angle-down" style="margin-left: 78%;"
        (click)="collapse.toggle()" [attr.aria-expanded]="!laser" aria-hidden="true"></i></span>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="laser">
      <br>
      <p>At Rs. 59,999, skinnsi’s laser hair reduction treatment is very cost-effective. On an average, the amount spend
        on hair removal in salons over the lifetime is about 1.8-3.6 lacs. Talk about savings!</p>
    </div>
    <hr>
    <b>05. Who can get laser hair reduction done?</b><span><i class="fa fa-angle-down" style="margin-left: 66%;"
        (click)="collapse.toggle()" [attr.aria-expanded]="!laser" aria-hidden="true"></i></span>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="laser">
      <br>
      <p>Men and women above the age of 14 years can opt for laser hair reduction. It’s safe for all skin types.</p>
    </div>
    <hr>
  </div>
  <div class="lhr">
  <div class="container  mt-5">
    
    <div class="row my-5">
      <div  [class.show]="show">
        <h4>what is laser hair removal?</h4>
        Want to experience the smooothest skin all the time but hate going to the salon every now and then? Don’t worry,
        because laser hair reduction is here to save the day! It is a long-term solution to get rid of unwanted body
        hair so that you can say goodbye to those countless trips to the salon

        <ng-container *ngIf="showMore1">
       
          Want to experience the smooothest skin all the time but hate going to the salon every now and then? Don’t
          worry, because laser hair reduction is here to save the day! <br> It is a long-term solution to get rid of unwanted
          body hair so that you can say goodbye to those countless trips to the salon. <br>

          Thanks to the cutting edge technology it uses, just a few sessions of laser treatment for hair removal will
          give you the skin you’ve always <br><br>

          Also, you’ll end up saving a lot, because laser hair reduction prices are pretty affordable when compared to
          the innumerable trips you would otherwise be taking to the salon. <br> So what are you waiting for? Book a free
          trial now and to get that smooth, flawless skin you always dreamt of! <br>

         <br><h6><b> How Does Laser Hair Removal Work?</b></h6>
          The ‘cutting-edge’ part of its technology might have made you think that it’s too complex a process to
          understand, but to be honest, it’s actually pretty simple, yet so effective.

          So just as you now know what laser treatment for hair removal is and what it does, let us understand how laser
          hair removal helps you say goodbye to unwanted body hair and waxing for good!

          First, let’s break it down and go back to the roots. Because that’s exactly what happens in the treatment.
          Simply put, when exposed to the laser, the melanin in your hair follicle absorbs its light, which in turn
          heats up the hair follicle. The laser then destroys the roots. <br>

          “̆But what about damage to the surrounding skin?” Don’t worry, because it’ll be safe from any damage. Plus,
          there will be no ingrowths as well. <br> Yes, remember those painfully annoying bumps on your skin that usually pop
          up after a waxing session? You won’t see any of them after your laser treatment for hair reduction. <br> Phew! What
          a relief.

          As a result, you get the smooothest skin that you just can’t get enough of. So wear those sleeveless tops or
          dresses whenever you want without thinking twice, and most importantly, without having to make last-minute
          trips to the salon ever again!

      

        </ng-container>
      </div>
      
    </div>
    <button class="btn btn-danger btn-sm mb-2"(click)="showMore1= !showMore1">show {{showMore1 ?'less':'more' }}</button>
  </div>
</div>




  <!-- footer started -->
  <footer class="skinnsi_footer">
    <div class="container">
      <div class="row"></div>
      <div class="row mt-5  ">
        <div class="col-md-3">
          <a class="navbar-brand" href="#"><img src="../../assets/logo_ba7eedb67a.svg" alt="logo"
              style="width:130px;"></a>
        </div>
        <div class="col-md-3">
          <h5>everything skinnsi</h5>
          <ul>laser hair removal</ul>
          <ul>dermafacial</ul>
          <ul>hydraglow treatments</ul>
        </div>
        <div class="col-md-3">
          <h5>about the brand</h5>
          <ul>about us</ul>
          <ul>blog</ul>
          <ul>reviews</ul>
        </div>
        <div class="col-md-3">
          <h5>chat with us</h5>
          <ul><i class="fa fa-whatsapp" aria-hidden="true"></i> +91 8294562315</ul>
          <ul><i class="fa fa-phone" aria-hidden="true"></i> +91 4798524545</ul>
          <ul><i class="fa fa-envelope-o" aria-hidden="true"></i> info@skinnsi.in</ul>
        </div>
      </div>

      <hr>
      <div class="row mt-3 mb-2">
        <div class="col-md-1">
          <img
            src="https://skinnsi.in/_next/static/image/assets/images/CE.161b4c398a389b882392cfc60e7b366e.png?q=75&w=64"
            width="30px"> &nbsp;
        </div>
        <div class="col-md-4">
          <span>
            terms of use | privacy policy | refund policy
          </span><br>
          <i class="fa fa-copyright" aria-hidden="true">2022 skinnsi. All Rights Reserved.</i>
        </div>


        <div class="col-md-4"><span><i class="fa fa-facebook-square" aria-hidden="true"> </i> </span>&nbsp;&nbsp;
          <span><i class="fa fa-instagram" aria-hidden="true"></i></span>&nbsp;&nbsp;
          <span><i class="fa fa-youtube-play" aria-hidden="true"></i></span>&nbsp;&nbsp;
          <span><i class="fa fa-linkedin-square" aria-hidden="true"></i></span></div>
        <div class="col-md-3">
          <h6>looking for great smile <span></span></h6>
        </div>
      </div>
    </div>
  </footer>
  <!-- end of the footer -->
