<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Permanent+Marker&family=Roboto:ital,wght@0,700;1,400&display=swap"
    rel="stylesheet">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
</head>

<body>
  <!-- Navbar start -->
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../assets/re-logo (1).svg" alt="logo" style="width:180px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#AboutUs">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="#contactUs">Contact Us</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- Navbar ends -->
  <!-- start header -->
  <header class="header">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-md-12  text-center">
          <h1>Welcome in Royal Enfield</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consectetur porro, incidunt perferendis
            consequuntur ipsa consequatur modi dicta! Eligendi ullam pariatur laboriosam, possimus doloribus iste
            repellat exercitationem incidunt recusandae laudantium.</p>
          <button class="btn btn-primary" (click)="goToPage('/Visit')">Visit Us</button>

        </div>
      </div>
    </div>
  </header>
  <!-- End of header -->

  <!-- start of message sector -->
  <section class="message py-5">
    <div class="container text-center">
      <h1>Be Reborn with the all new classic</h1>
      <p>With Royal Enfield Garage bike service, you no longer have to wait at a garage and worry about pricing. With
        transparent pricing and qualified mechanics, you get guaranteed satisfaction with our bike repair
        service. Besides, it’s just a finger tap away..</p>
      <button class="btn btn-primary">
        Check it out
      </button>
    </div>
  </section>

  <!-- end of message sector -->

  <!-- start of services section -->
  <section class="services" id="services">
    <div class="container text-center py-5 ">
      <h1>About our services</h1>
      <div class="row">
        <div class="col-md-4">
          <!-- First-col -->
          <div class="card">
            <div class="card-body">
              <i class="fa fa-commenting myicon" aria-hidden="true"></i>
              <h1 class="title-heading">Reliable Service</h1>
              <p>Certified Technician & Warranty on Services.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <!-- second-col -->
          <div class="card">
            <div class="card-body">
              <i class="fa fa-wrench myicon" aria-hidden="true"></i>
              <h1 class="title-heading">Convenient Service</h1>
              <p>Service at workshop as per your convenience</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <!-- third-col -->
          <div class="card">
            <div class="card-body">
              <i class="fa fa-search myicon" aria-hidden="true"></i>
              <h1 class="title-heading">Transparent</h1>
              <p>Transparent process and prices at your finger tips.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end of services section -->
  <!-- About us section -->
  <section class="message py-5" id="AboutUs">
    <div class="container text-center">
      
      <h1>WHO WE ARE</h1>
      <p>Royal Enfield garage is a family-owned business serving our community in Rajgurunagar and Bhosari.
        Our locally operated facility means we get there
        quickly at your home and are familiar with all neighborhoods. With over 5 years of experience, you are in
        expert hands!It does not matter what make or model of residential garage door you have, we can fix or replace.
        Our certified
        experts are fully trained to provide you with the best peace of mind possible as the consumer. .</p>



    </div>
  </section>

  <!-- Start of contact section -->
  <section class="contact py-5" id="contactUs">
    <div class="container text-center">
      <h1>Let's Get In Touch!!</h1>
      <p>Royal Enfield Garage is a one-stop online solution to find the best mechanic for all the repair and services of
        your bike.</p>
      <i class="fa fa-phone myicon text-warning" aria-hidden="true"></i>
      <i class="fa fa-heart myicon text-danger" aria-hidden="true"></i>
      <p>+8087981010</p>
      <p>kirantambe@gmail.com</p>
     
    </div>
  </section>

  <!-- end of contact section -->

  <!-- start of links section -->
  <section class="message py-5">
    <div class="container text-center">
      <h1>Important Links</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</p>
            <p><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</p>
           

          </div>
          <div class="col-md-6">
          
            <p><i class="fa fa-whatsapp" aria-hidden="true"></i> whatsapp</p>
            <p><i class="fa fa-google" aria-hidden="true"></i>  google</p>
          </div>
        </div>
      </div>
      <button class="btn btn-primary">
        Thanks !!!
      </button>
    </div>
  </section>

  <!-- end of links section -->

  <!-- footer section -->
  <section class="footer bg-dark">
    <div class="container py-5 text-center text-white ">
      <p>Copyright © 2020, All Right Reserved GarageHub</p>
    </div>
  </section>
</body>

</html>
